a{
	color: #fff;
}

body{
	background-color: #d2d7d3;
	padding: 10px;
}

#textarea-code{
	width:100%; 
	min-height: 200px;
	resize: none;
	font-size:11px;
}

#panel-code{
	/*max-height: 500px;
	overflow-y: auto;*/
}

#panel-code.body{
}

#panel-registers, #panel-memory{
	min-height: 280px;
	max-height: 280px;
	overflow-y: auto;
}

#panel-pipeline{
	min-height: 300px;
	/*max-height: 300px;
	overflow-y: auto;*/
}