a{
	color: #fff;
}

body{
	background-color: #d2d7d3;
	padding: 10px;
}

tr, td{
	/*height : 20px;*/
	font-size: 12px;
	margin: 0 0 0 0;
	padding: 0px; 
}

.table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
    padding: 0px;
}

#textarea-code{
	width:100%; 
	min-height: 200px;
	resize: none;
	font-size:11px;
}

#panel-code{
	/*max-height: 500px;
	overflow-y: auto;*/
}

#panel-code.body{
}

#panel-code, #panel-registers, #panel-memory{
	/*min-height: 350px;*/
	max-height: 560px;
	overflow-y: auto;
}

#panel-pipeline{
	min-height: 300px;
	overflow-x: auto;
	/*max-height: 300px;
	overflow-y: auto;*/
}



